*{
	margin: 0;
	text-decoration: none;
	list-style: none;

}

body {
	font-family:serif;
	background-image: url(./img/Fond3.gif);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



.navbar {
	position: absolute;
	padding: 0px;
	margin: 50px;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	box-sizing: border-box;
	position: fixed;
}

.nav-links li a {
	color: rgb(255, 52, 52);
}

.nav-links li:hover a {
	color: rgb(255, 180, 180);
	align-items: center;
	margin-top: 17px;
}

.nav-links li:hover {
	border-color: #fc4e4eee;
	background-color: rgba(255, 0, 0, 0.548);
	align-items: center;
	margin-top: 15px;
}

.nav-links li {
	background-color: rgba(220, 20, 60, 0.267);
	width: 100px;
	border: solid rgba(255, 59, 59, 0.26) 3px;
	border-radius: 10px;
	text-align: center;
	font-size: 17px;
}

.navbar .logo img{
	border: solid rgba(179, 0, 0, 0.342) 2px;
	border-radius: 100%;
	width: 200%;
}

.navbar .nav-links ul {
	display: flex;
	margin-right: 15px;
}

.navbar .nav-links ul li {
	margin: 0 15px;
}

.active  a {
	color: rgb(255, 0, 0);
}

.navbar .menu-hamburger {
	display: none;
	position: relative;
	top: 20px;
	right: 60px;
	width: 30px;
}

/* Pieds de page */
footer {
    background-color: rgba(255, 129, 129, 0.596);
    color: #000;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: -15px;
    width: 100%;
    box-shadow: 0 0 10px rgb(170, 0, 51);
}

.center {
	text-align: center;
	margin: -10px;
}

.text1-pdp {
		margin-right: 5px;
}

.text2-pdp {
	margin-left: 5px;
}

#characters {
    background-color: #f2c94c;
}


@media screen and (max-width: 695px) {

	.navbar {
		margin-right: 10px;
		margin: 0px;
		width: 106%;
	}

	.navbar .menu-hamburger {
		display: block;
	}

	.nav-links {
		top: 0;
		left: 0;
		background-color: rgba(255, 0, 0, 0.13);
		backdrop-filter: blur(5px);
		position: absolute;
		width: 100%;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -100%;
		transition: all 0.5s ease;
	}

	.nav-links.mobile-menu {
		margin-left: 0px;
		.active {
			color: crimson;
		}
	}

	.nav-links ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 0px;
		margin-left: -20px;
	}

	.navbar .nav-links ul li {
		margin: 10px 0;
		font-size: 1.2em;
		color: rgba(255, 202, 202, 0.932);
	}


	.logo {
		margin-top: 27px;
		margin-left: 50px;
	}

	.navbar .logo img{
		border: solid rgba(179, 0, 0, 0.342) 2px;
		border-radius: 100%;
		width: 200%;
		margin-top: 30px;
	}

	.nav-links li a {
		color: rgb(255, 0, 0);
	}
	
	.nav-links li:hover a {
		color: rgb(255, 0, 0);
		
	}
	
	.nav-links li:hover {
		border-color: #ff000070;
		background-color: rgba(255, 162, 162, 0.932);
	}
	
	.nav-links li {
		background-color: rgba(255, 139, 139, 0.781);
		width: 100px;
		border: solid rgba(255, 84, 84, 0.568) 3px;
		border-radius: 10px;
	}
}