h1 {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}
.recipe {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ff819cc4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(170, 0, 51);
    transform-style: preserve-3d;
}

.recipe:hover img {
    transform: translateZ(30px);
    transition: all 0.5s ease;
}
.recipe:hover h2 {
    transform: translateZ(30px);
    transition: all 0.5s ease;
}

.recipe img {
    max-width: 100%;
    border-radius: 4px;
    width: 20%;
}
.recipe h2 {
    margin-top: 0;
}
.recipe p {
    margin-bottom: 0;
}