
h1 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    transform-style: preserve-3d;
    position: relative;
    z-index: -99;
}

.container .person:hover {
    transform: translateZ(30px);
    transition: all 0.5s ease;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ff819cc4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(170, 0, 51);
}
.person img {
    max-width: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: solid rgb(255, 52, 52) 2px;
    box-shadow: 0 0 10px rgb(170, 0, 51);
}
.person-details {
    flex: 1;
}
.person h2 {
    margin: 5px 0;
}
.person p {
    margin: 5px 0;
}