h1 {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    transform-style: preserve-3d;
}

.container .person:hover {
    transform: translateZ(30px);
    transition: all 0.5s ease;
}

.container2 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    transform-style: preserve-3d;
    margin-top: -60px;
}

.container2 .person:hover {
    transform: translateZ(30px);
    transition: all 0.5s ease;
}

.container3 {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    transform-style: preserve-3d;
    margin-top: -60px;
}

.container3 .person:hover {
    transform: translateZ(30px);
    transition: all 0.5s ease;
}

.character {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ff819cc4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(170, 0, 51);
}
.character img {
    max-width: 100%;
    border-radius: 4px;
}
.character h2 {
    margin-top: 0;
}
.character p {
    margin-bottom: 0;
}